body {
  margin: 0;
  padding: 0;
}
#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}
.profile-pic {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 2px solid #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
@media (max-width: 768px) {
  .profile-pic {
    width: 75px;
    height: 75px;
  }
}
