html,
body {
  background-color: black;
  height: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
  width: auto;
}
